*
{
    padding: 0px;
    margin: 0px;
}
.body
{
    background-image: url("snake2.jfif");   
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;

    align-items: center;
}
#board
{
    background: linear-gradient(green,yellow);
    width: 90vmin;
    height: 92vmin;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
    margin-left: 5%;
}
.head
{
    background: linear-gradient(red, yellow);
    border: 2px solid purple;
    transform: scale(1.02);
    border-radius: 9px;
}
.snake
{
    background-color: purple;
    border: .25vmin solid white;
    border-radius: 12px ;
}
.food
{
    background: linear-gradient(red, purple);
    border: .25vmin solid black;
    border-radius:  8px;

}
 
#sc
{
    margin-left: 5%;
    width: 18%;
    height: 58px;
   
    border-radius: 20px;
    font-size: 50px;
    font-weight: bold;
    padding: 10px;
   text-align: center;
   text-shadow: 1px 3px green;
   animation: sonawat 2s linear infinite;
   
}
@keyframes sonawat
{
    0%
    {
        border: 3px solid black;
    }
    20%
    {
        border: 3px solid red;
    }
    30%
    {
        border: 3px solid blue;
    }
    40%
    {
        border: 3px solid greenyellow;
    }
    50%
    {
        border: 3px solid orangered;
    }
    60%
    {
        border: 3px solid pink;
    }
    70%
    {
        border: 3px solid lightseagreen;
    }
    80%
    {
        border: 3px solid cyan;
    }
    90%
    {
        border: 3px solid orange;
    }
    100%{
        border: 3px solid black;
    }
}